################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Isolator/bin
/Isolator/obj
/Isolator.Console/bin
/Isolator.Console/obj
